---
layout: page
---	  
<article>

<h1 id='venue'><b>Venue</b></h1> 

{% if site.conference.room %}
The {{site.conference.year }} {{ site.conference.name }} will take place in <a href=https://www.h10hotels.com/en/tenerife-hotels/h10-costa-adeje-palace?gclid=CKbVvYGq5s8CFRE6Gwod7-UFkg>{{ site.conference.room }}</a>, {{ site.conference.venue }}, {{ site.conference.location }}.
{% else %}
The {{site.conference.year }} {{ site.conference.name }} will take place in the {{site.conference.venue }}, {{ site.conference.location }}.
{% endif %}
From {{ site.conference.dates[0] | date: "%A %B, %-d %Y" }} to  {{ site.conference.dates.last | date: "%A %B, %-d %Y" }}.

<!--{{ content }}-->

  
{% if site.map.show %}
{% include map.html %}
{% endif %}	 


    <div style="background:transparent; position:relative;width:100%;height:450px;top:450px;margin-top:-450px"></div>
<div style="width:500px;overflow:hidden;height:500px;max-width:100%;"><div id="gmap-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=H10+Costa+Adeje+Palace,+Costa+Adeje,+Spain&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-maps-code" rel="nofollow" href="http://www.interserver-coupons.com" id="inject-map-data">http://www.interserver-coupons.com</a><style>#gmap-display .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=5f2cdaa8-14fc-ac99-c8d8-d6317ee6e18f&c=google-maps-code&u=1476865487" defer="defer" async="async"></script>    <br>
    <br>
    <br>

    <p> The hotel is situated in the south of Tenerife on the Costa Adeje
<ul>
  <li>27 Km from Tenerife Sur Airport</li>
  <li>85 Km from Tenerife Norte Airport</li>
  <li>84 Km from Santa Cruz de Tenerife</li>
</ul> 
    </p>

</article>

